.frofileContainer {
  position: absolute;
  top: 60px;
  right: 14px;
  background-color: white;
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
}
.frofileContent {
}
.click {
  border: 2px solid blue;
}
