.loginContainer {
  /* position: absolute;
  top: 100px;
  right: 10px; */
}
.inputFeild {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;

  outline: none;
}
.row-container {
  display: flex;
  align-items: center;
}
.loginImage {
  height: 500px;
}
.cards {
  height: 500px;
}
@media (min-width: 300px) and (max-width: 648px) {
  .row-container {
    /* display: block; */
  }
}
